.root {
    -fx-background-color: #f2f2f2;
}

.header {
    -fx-text-fill: #4d4d4d;
}
.delete-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-padding: 5px 8px;
    -fx-font-size: 12px;
}

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */